<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>修改指标信息</title>
    <link rel="stylesheet" href="../../../global/css/sdui.css">
    <link rel="stylesheet" href="../../../global/font/iconfont.css">
    <link rel="stylesheet" href="../../../global/css/base.css"/>
    <link rel="stylesheet" href="../../css/normInfo.css">
</head>
<body>
<div id="Layout"></div>
<div class="rightLayout">
    <div class="titleBox"><a href="javascript:window.history.go(-1);">返回</a>修改指标信息</div>
    <div class="sdui-container ">
        <div id="bxlist"></div>
    </div>
</div>
<script src="../../../global/js/lib/jquery.js"></script>
<script src="../../../global/js/lib/ractive-legacy.js"></script>
<script src="../../../global/js/lib/base.js"></script>
<script src="../../js/addNor.js"></script>
<script>

</script>
</body>
</html>