<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>部门信息维护-系统管理员</title>
    <link rel="stylesheet" href="../../../global/font/iconfont.css">
    <link rel="stylesheet" href="../../../global/css/sdui.css">
    <link rel="stylesheet" href="../../../global/css/base.css">
    <link rel="stylesheet" href="../../css/baseInfo.css"/>
    <script src="../../../global/js/lib/jquery.js"></script>
    <script src="../../../global/js/lib/ractive-legacy.js"></script>
    <script src="../../../global/js/lib/base.js"></script>
</head>
<body>
<div id="Layout"></div>
<div class="rightLayout">
    <h1 class="titleBox">部门信息维护</h1>

    <div class="sdui-container searchBox">
        <div class="row">
            <div class="col-1">
                <span> 企业名称:</span>
            </div>
            <div class="col-2">
                <input type="text" class="sdui-input"/>
            </div>
            <div class="col-1" style="text-align: right">
                <span>部门名称:</span>
            </div>
            <div class="col-2">
                <input type="text" class="sdui-input"/>
            </div>
            <div class="col-1">
                <button type="button" class="btn btnBlue">查询</button>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="sdGrid">
            <table>
                <thead>
                <tr>
                    <th width="25%">所属企业</th>
                    <th width="25%">上级部门名称</th>
                    <th width="25%">部门名称</th>
                    <th width="25%">创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>山东大学苏州研究院</td>
                    <td>院长办公室</td>
                    <td>院长办公室</td>
                    <td>2017-10-30 09:30</td>
                </tr>
                <tr>
                    <td>腾讯</td>
                    <td> -</td>
                    <td>教育培训中心</td>
                    <td>2017-10-22 10:30</td>
                </tr>
                <tr>
                    <td>百度</td>
                    <td>院长办公室</td>
                    <td>人力资源中心</td>
                    <td>2017-10-21 15:22</td>
                </tr>
                <tr>
                    <td>阿里巴巴</td>
                    <td>院长办公室</td>
                    <td>院长办公室</td>
                    <td>2017-10-20 13:44</td>
                </tr>
                <tr>
                    <td>木屋烧烤</td>
                    <td>院长办公室</td>
                    <td>教育培训中心</td>
                    <td>2017-10-19 14:36</td>
                </tr>
                <tr>
                    <td>云瑞集团</td>
                    <td> -</td>
                    <td>人力资源中心</td>
                    <td>2017-09-12 08:33</td>
                </tr>
                <tr>
                    <td>361</td>
                    <td> -</td>
                    <td>院长办公室</td>
                    <td>2017-09-10 09:32</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>