<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>部门信息维护-企业管理员</title>
    <link rel="stylesheet" href="../../../global/font/iconfont.css">
    <link rel="stylesheet" href="../../../global/css/sdui.css">
    <link rel="stylesheet" href="../../../global/css/base.css">
    <link rel="stylesheet" href="../../css/baseInfo.css"/>
    <script src="../../../global/js/lib/jquery.js"></script>
    <script src="../../../global/js/lib/ractive-legacy.js"></script>
    <script src="../../../global/js/lib/base.js"></script>
</head>
<body>
<div id="Layout"></div>
<div class="rightLayout">
    <h1 class="titleBox">部门信息维护</h1>

    <div class="sdui-container searchBox">
        <div class="row">
            <div class="col-1">
                <span> 企业名称:</span>
            </div>
            <div class="col-2">
                <span>山东大学苏州研究院</span>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <span>部门名称:</span>
            </div>
            <div class="col-3">
                <input type="text" class=""/>
            </div>
            <div class="col-1">
                <button type="button" class="btn btnBlue">查询</button>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <a href="add.html" class="btn btnOrange">新增部门</a>
    </div>

    <div class="wrapper">
        <div class="sdGrid">
            <table>
                <thead>
                <tr>
                    <th width="20%">所属企业</th>
                    <th width="20%">上级部门名称</th>
                    <th width="20%">部门名称</th>
                    <th width="20%">创建时间</th>
                    <th width="20%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>山东大学苏州研究院</td>
                    <td>院长办公室</td>
                    <td>院长办公室</td>
                    <td>2017-10-30 09:30</td>
                    <td>
                        <a href="edit.html"><i class="iconfont sd-edit1 sdui-txt-green" ></i>修改</a>
                        <a href="javascript:;"><i class="iconfont sd-delete1 sdui-txt-red"></i>删除</a>
                    </td>
                </tr>
                <tr>
                    <td>山东大学苏州研究院</td>
                    <td> -</td>
                    <td>教育培训中心</td>
                    <td>2017-10-22 10:30</td>
                    <td>
                        <a href="edit.html"><i class="iconfont sd-edit1 sdui-txt-green"></i>修改</a>
                        <a href="javascript:;"><i class="iconfont sd-delete1 sdui-txt-red"></i>删除</a>
                    </td>
                </tr>
                <tr>
                    <td>山东大学苏州研究院</td>
                    <td>院长办公室</td>
                    <td>人力资源中心</td>
                    <td>2017-10-21 15:22</td>
                    <td>
                        <a href="edit.html"><i class="iconfont sd-edit1 sdui-txt-green"></i>修改</a>
                        <a href="javascript:;"><i class="iconfont sd-delete1 sdui-txt-red"></i>删除</a>
                    </td>
                </tr>
                <tr>
                    <td>山东大学苏州研究院</td>
                    <td>院长办公室</td>
                    <td>院长办公室</td>
                    <td>2017-10-20 13:44</td>
                    <td>
                        <a href="edit.html"><i class="iconfont sd-edit1 sdui-txt-green"></i>修改</a>
                        <a href="javascript:;"><i class="iconfont sd-delete1 sdui-txt-red"></i>删除</a>
                    </td>
                </tr>
                <tr>
                    <td>山东大学苏州研究院</td>
                    <td>院长办公室</td>
                    <td>教育培训中心</td>
                    <td>2017-10-19 14:36</td>
                    <td>
                        <a href="edit.html"><i class="iconfont sd-edit1 sdui-txt-green"></i>修改</a>
                        <a href="javascript:;"><i class="iconfont sd-delete1 sdui-txt-red"></i>删除</a>
                    </td>
                </tr>
                <tr>
                    <td>山东大学苏州研究院</td>
                    <td> -</td>
                    <td>人力资源中心</td>
                    <td>2017-09-12 08:33</td>
                    <td>
                        <a href="edit.html"><i class="iconfont sd-edit1 sdui-txt-green"></i>修改</a>
                        <a href="javascript:;"><i class="iconfont sd-delete1 sdui-txt-red"></i>删除</a>
                    </td>
                </tr>
                <tr>
                    <td>山东大学苏州研究院</td>
                    <td> -</td>
                    <td>院长办公室</td>
                    <td>2017-09-10 09:32</td>
                    <td>
                        <a href="edit.html"><i class="iconfont sd-edit1 sdui-txt-green"></i>修改</a>
                        <a href="javascript:;"><i class="iconfont sd-delete1 sdui-txt-red"></i>删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>