<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>新增企业信息维护-超级管理员</title>
    <link rel="stylesheet" href="../../../global/css/sdui.css"/>
    <link rel="stylesheet" href="../../../global/css/base.css"/>
    <link rel="stylesheet" href="../../css/baseInfo.css"/>
    <script src="../../../global/js/lib/jquery.js"></script>
    <script src="../../../global/js/lib/ractive-legacy.js"></script>
    <script src="../../../global/js/lib/base.js"></script>
</head>
<body>
<div id="Layout"></div>
<div class="rightLayout" style="background-color: #fff">
    <h1 class="titleBox">新增企业 <a href="javascript:history.back()">返回</a></h1>

    <div class="infoListL">
        <dl>
            <dt><span>*</span>企业名称：</dt>
            <dd><input type="text"/></dd>
        </dl>
        <dl>
            <dt><span>*</span>证件类型：</dt>
            <dd>
                <select class="select-box">
                    <option value="">普通营业执照</option>
                    <option value="">普通营业执照</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt><span>*</span>证件地址：</dt>
            <dd><input type="text"/></dd>
        </dl>
        <dl>
            <dt><span>*</span>统一社会信用代码：</dt>
            <dd><input type="text"/></dd>
        </dl>
        <dl>
            <dt>注册号：</dt>
            <dd><input type="text" placeholder="证件类型为普通营业执照填写"/></dd>
        </dl>
        <dl>
            <dt><span>*</span>法人代表：</dt>
            <dd><input type="text"/></dd>
        </dl>
        <dl>
            <dt>法人代表身份证号：</dt>
            <dd><input type="text"/></dd>
        </dl>
        <dl>
            <dt><span>*</span>所在省份：</dt>
            <dd>
                <select class="select-box">
                    <option value="">江苏</option>
                    <option value="">江苏</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt><span>*</span>所在城市：</dt>
            <dd>
                <select class="select-box">
                    <option value="">苏州</option>
                    <option value="">苏州</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt><span>*</span>所在地区：</dt>
            <dd>
                <select class="select-box">
                    <option value="">工业园区</option>
                    <option value="">工业园区</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt><span>*</span>详细地址：</dt>
            <dd><input type="text"/></dd>
        </dl>
        <dl>
            <dt><span>*</span>联系人：</dt>
            <dd><input type="text"/></dd>
        </dl>
        <dl>
            <dt><span>*</span>联系电话：</dt>
            <dd><input type="text"/></dd>
        </dl>
        <dl>
            <dt><span>*</span>认证授权书地址：</dt>
            <dd><input type="text"/></dd>
        </dl>
        <dl>
            <dt><span>*</span>是否启用：</dt>
            <dd>
                <label class="labelBlue">
                    <input name="start" type="radio"/><i></i>
                </label>
                <span class="infoSpan">是</span>

                <label class="labelBlue ml40">
                    <input name="start" type="radio" checked /><i></i>
                </label>
                <span class="infoSpan">否</span>
            </dd>
        </dl>
    </div>

    <div class="infoListR">
        <div class="infoListRLogo">
            <img src="../../img/userLogo.jpg">
        </div>
        <p><a href="javascript:;">上传</a></p>
    </div>

    <div class="infoListBtn">
        <a class="btn btnBlue" href="javascript:;">保存</a>
        <a class="btn btnOrange ml40" href="javascript:;">取消</a>
    </div>
</div>
</body>
</html>