<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>查看企业信息维护-企业管理员</title>
    <link rel="stylesheet" href="../../../global/css/sdui.css"/>
    <link rel="stylesheet" href="../../../global/css/base.css"/>
    <link rel="stylesheet" href="../../css/baseInfo.css"/>
    <script src="../../../global/js/lib/jquery.js"></script>
    <script src="../../../global/js/lib/ractive-legacy.js"></script>
    <script src="../../../global/js/lib/base.js"></script>
</head>
<body>
<div id="Layout"></div>
<div class="rightLayout">
    <h1 class="titleBox">企业信息维护</h1>

    <div class="infoListL">
        <dl>
            <dt>企业名称：</dt>
            <dd>山东大学苏州研究院</dd>
        </dl>
        <dl>
            <dt>证件类型：</dt>
            <dd>普通营业执照</dd>
        </dl>
        <dl>
            <dt>证件地址：</dt>
            <dd>河南洛阳</dd>
        </dl>
        <dl>
            <dt>统一社会信用代码：</dt>
            <dd>12202200</dd>
        </dl>
        <dl>
            <dt>注册号：</dt>
            <dd>111111</dd>
        </dl>
        <dl>
            <dt>法人代表：</dt>
            <dd>张杰</dd>
        </dl>
        <dl>
            <dt>法人代表身份证号：</dt>
            <dd>410000000000000000</dd>
        </dl>
        <dl>
            <dt>所在省份：</dt>
            <dd>江苏</dd>
        </dl>
        <dl>
            <dt>所在城市：</dt>
            <dd>苏州</dd>
        </dl>
        <dl>
            <dt>所在地区：</dt>
            <dd>工业园区</dd>
        </dl>
        <dl>
            <dt>详细地址：</dt>
            <dd>若水路300号</dd>
        </dl>
        <dl>
            <dt>联系人：</dt>
            <dd>张杰</dd>
        </dl>
        <dl>
            <dt>联系电话：</dt>
            <dd>18706214177</dd>
        </dl>
        <dl>
            <dt>认证授权书地址：</dt>
            <dd>河南洛阳</dd>
        </dl>
        <dl>
            <dt>是否启用：</dt>
            <dd>是</dd>
        </dl>
    </div>

    <div class="infoListR">
        <div class="infoListRLogo">
            <img src="../../img/userLogo.jpg">
        </div>
    </div>

    <div class="infoListBtn">
        <a class="btn btnBlue" href="edit.html">修改</a>
    </div>
</div>
</body>
</html>