<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>按钮样式</title>
    <link rel="stylesheet" href="../../../global/css/base.css"/>
</head>
<body>
<div style="width: 500px;margin: 100px auto;">
    <button type="button" class="btn btnBlue">查询</button>
    <button type="button" class="btn btnOrange">查询</button>
    <button type="button" class="btn btnGreen">查询</button>
    <button type="button" class="btn btnGray">查询</button>

    <label class="labelBlue">
        <input type="checkbox">
        <i></i>
    </label>
</div>
</body>
</html>