<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>考评试卷维护</title>
    <link rel="stylesheet" href="../../../global/font/iconfont.css">
    <link rel="stylesheet" href="../../../global/css/sdui.css">
    <link rel="stylesheet" href="../../../global/css/base.css">
    <script src="../../../global/js/lib/jquery.js"></script>
    <script src="../../../global/js/lib/ractive-legacy.js"></script>
    <script src="../../../global/js/lib/base.js"></script>

</head>
<body style="min-width: 1320px">
<div id="Layout"></div>
<div class="rightLayout">
    <h1 class="titleBox">考评试卷维护</h1>

    <div class="sdui-container searchBox">
        <div class="row">
            <div class="col-1">考评试卷名称:</div>
            <div class="col-2"><input type="text" class="sdui-input"/></div>
            <div class="col-1">
                <button type="button" class="btn btnBlue">查询</button>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <a href="add.html" class="btn btnOrange">新增考评试卷</a>
    </div>
    <div class="wrapper">
        <div class="sdGrid">
            <table>
                <thead>
                <tr>
                    <th width="22%">考评试卷名称</th>
                    <th width="10%">试卷总分</th>
                    <th width="10%">指标项数</th>
                    <th width="18%">提交时间</th>
                    <th width="12%">提交状态</th>
                    <th width="25%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>开发人员考评试卷</td>
                    <td>100</td>
                    <td>12</td>
                    <td></td>
                    <td><span class="sdui-txt-red">未提交</span></td>
                    <td>
                        <a href="view.html"><i class="iconfont sd-view sdui-txt-blue"></i>查看</a>
                        <a href="edit.html"><i class="iconfont sd-edit1 sdui-txt-green"></i>修改</a>
                        <a href="javascript:;"><i class="iconfont sd-delete1 sdui-txt-red"></i>删除</a>
                    </td>
                </tr>
                <tr>
                    <td>需求人员考评试卷</td>
                    <td>100</td>
                    <td>10</td>
                    <td>2017-09-04 09:30</td>
                    <td><span class="sdui-txt-blue">已提交</span></td>
                    <td>
                        <a href="view.html"><i class="iconfont sd-view sdui-txt-blue"></i>查看</a>
                        <a href="edit.html"><i class="iconfont sd-copy1 sdui-txt-lightBlue"></i>复制</a>
                    </td>
                </tr>
                <tr>
                    <td>设计人员考评试卷</td>
                    <td>100</td>
                    <td>8</td>
                    <td>2017-09-03 16:30</td>
                    <td><span class="sdui-txt-blue">已提交</span></td>
                    <td>
                        <a href="view.html"><i class="iconfont sd-view sdui-txt-blue"></i>查看</a>
                        <a href="edit.html"><i class="iconfont sd-copy1 sdui-txt-lightBlue"></i>复制</a>
                    </td>
                </tr>
                <tr>
                    <td>管理人员考评试卷</td>
                    <td>100</td>
                    <td>10</td>
                    <td>2017-09-02 12:30</td>
                    <td><span class="sdui-txt-blue">已提交</span></td>
                    <td>
                        <a href="view.html"><i class="iconfont sd-view sdui-txt-blue"></i>查看</a>
                        <a href="edit.html"><i class="iconfont sd-copy1 sdui-txt-lightBlue"></i>复制</a>
                    </td>
                </tr>
                <tr>
                    <td>前端人员考评试卷</td>
                    <td>100</td>
                    <td>10</td>
                    <td>2017-09-01 14:30</td>
                    <td><span class="sdui-txt-blue">已提交</span></td>
                    <td>
                        <a href="view.html"><i class="iconfont sd-view sdui-txt-blue"></i>查看</a>
                        <a href="edit.html"><i class="iconfont sd-copy1 sdui-txt-lightBlue"></i>复制</a>
                    </td>
                </tr>
                <tr>
                    <td>财务人员考评试卷</td>
                    <td>100</td>
                    <td>8</td>
                    <td>2017-08-22 07:30</td>
                    <td><span class="sdui-txt-blue">已提交</span></td>
                    <td>
                        <a href="view.html"><i class="iconfont sd-view sdui-txt-blue"></i>查看</a>
                        <a href="edit.html"><i class="iconfont sd-copy1 sdui-txt-lightBlue"></i>复制</a>
                    </td>
                </tr>
                <tr>
                    <td>销售人员考评试卷</td>
                    <td>100</td>
                    <td>10</td>
                    <td>2017-08-21 11:30</td>
                    <td><span class="sdui-txt-blue">已提交</span></td>
                    <td>
                        <a href="view.html"><i class="iconfont sd-view sdui-txt-blue"></i>查看</a>
                        <a href="edit.html"><i class="iconfont sd-copy1 sdui-txt-lightBlue"></i>复制</a>
                    </td>
                </tr>
                <tr>
                    <td>需求人员考评试卷</td>
                    <td>100</td>
                    <td>10</td>
                    <td>2017-09-04 09:30</td>
                    <td><span class="sdui-txt-blue">已提交</span></td>
                    <td>
                        <a href="view.html"><i class="iconfont sd-view sdui-txt-blue"></i>查看</a>
                        <a href="edit.html"><i class="iconfont sd-copy1 sdui-txt-lightBlue"></i>复制</a>
                    </td>
                </tr>
                <tr>
                    <td>需求人员考评试卷</td>
                    <td>100</td>
                    <td>10</td>
                    <td>2017-09-04 09:30</td>
                    <td><span class="sdui-txt-blue">已提交</span></td>
                    <td>
                        <a href="view.html"><i class="iconfont sd-view sdui-txt-blue"></i>查看</a>
                        <a href="edit.html"><i class="iconfont sd-copy1 sdui-txt-lightBlue"></i>复制</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>