<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>考评试卷维护</title>
    <link rel="stylesheet" href="../../../global/font/iconfont.css">
    <link rel="stylesheet" href="../../../global/css/sdui.css">
    <link rel="stylesheet" href="../../../global/css/base.css">
    <link rel="stylesheet" href="../../css/test.css">
    <script src="../../../global/js/lib/jquery.js"></script>
    <script src="../../../global/js/lib/ractive-legacy.js"></script>
    <script src="../../../global/js/lib/base.js"></script>
</head>
<body>
<div id="Layout"></div>
<div class="rightLayout">
    <h1 class="titleBox"><a href="javascript:window.history.go(-1);">返回</a>查看考评试卷</h1>

    <div class="sdoa-form">
        <div class="form-group">
            <label>考评试卷名称:</label>

            <div class="cel">开发人员考评试卷</div>
        </div>
        <div class="form-group">
            <label>试卷总分:</label>

            <div class="cel">100</div>
        </div>
        <div class="form-group">
            <label>考评指标:</label>
        </div>
        <div class="sdGrid sdGridB">
            <table>
                <thead>
                <tr>
                    <th>考评指标</th>
                    <th width="176">指标分值</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a target="_blank" href="../../../assessment/views/normInfo/view.html" class="sdui-txt-blue">遵守规章制度</a></td>
                    <td>8</td>
                </tr>
                <tr>
                    <td><a target="_blank" href="../../../assessment/views/normInfo/view.html" class="sdui-txt-blue">主动性</a></td>
                    <td>8</td>
                </tr>
                <tr>
                    <td><a target="_blank" href="../../../assessment/views/normInfo/view.html" class="sdui-txt-blue">计划性</a></td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><a target="_blank" href="../../../assessment/views/normInfo/view.html" class="sdui-txt-blue">执行力</a></td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><a target="_blank" href="../../../assessment/views/normInfo/view.html" class="sdui-txt-blue">工作完成度</a></td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><a target="_blank" href="../../../assessment/views/normInfo/view.html" class="sdui-txt-blue">成本意识</a></td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><a target="_blank" href="../../../assessment/views/normInfo/view.html" class="sdui-txt-blue">工作质量</a></td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><a target="_blank" href="../../../assessment/views/normInfo/view.html" class="sdui-txt-blue">服务意识</a></td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>指标总分</td>
                    <td>76</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
</body>
</html>