<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>查看员工</title>
    <link rel="stylesheet" href="../../../global/css/sdui.css">
    <link rel="stylesheet" href="../../../global/css/base.css">
    <link rel="stylesheet" href="../../../global/font/iconfont.css">
    <link rel="stylesheet" href="../../css/baseInfo.css"/>
    <script src="../../../global/js/lib/jquery.js"></script>
    <script src="../../../global/js/lib/ractive-legacy.js"></script>
    <script src="../../../global/js/lib/base.js"></script>
</head>
<body style="min-width: 1280px">
<div id="Layout"></div>
<div class="rightLayout" style="background-color: #fff">
    <h1 class="titleBox"><a href="javascript:window.history.go(-1);">返回</a>查看员工</h1>

    <div class="infoListL">
        <dl>
            <dt>所属企业：</dt>
            <dd>山东大学苏州研究院</dd>
        </dl>
        <dl>
            <dt>员工姓名：</dt>
            <dd class="spec">
                张金
                <div>
                    <label class="labelBlue">
                        <input type="radio" checked /><i></i>
                    </label>
                    <span>部门负责人</span>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>所属部门：</dt>
            <dd>
                院长办公室
            </dd>
        </dl>
        <dl>
            <dt>职务：</dt>
            <dd>
                院长助理
            </dd>
        </dl>
        <dl>
            <dt>上级领导：</dt>
            <dd>院长</dd>
        </dl>
        <dl>
            <dt>入职日期：</dt>
            <dd>2015-01-01</dd>
        </dl>
        <dl>
            <dt>员工工号：</dt>
            <dd>1821343</dd>
        </dl>
        <dl>
            <dt>考勤编号：</dt>
            <dd>2423r523</dd>
        </dl>
        <dl>
            <dt>手机号码：</dt>

            <dd>18586578965</dd>
        </dl>
        <dl>
            <dt>电子邮箱：</dt>

            <dd>sdasin@.com</dd>
        </dl>
        <dl>
            <dt>固话号码：</dt>
            <dd>0615-87543675</dd>
        </dl>
        <dl>
            <dt>出生日期：</dt>
            <dd>1989-08-09</dd>
        </dl>
        <dl>
            <dt>性别：</dt>
            <dd>男</dd>
        </dl>
        <dl>
            <dt>身份证号码：</dt>
            <dd>320156987451456921</dd>
        </dl>
        <dl>
            <dt>身份证有效期：</dt>
            <dd>2020-01-01</dd>
        </dl>
        <dl>
            <dt>民族：</dt>
            <dd>汗</dd>
        </dl>
        <dl>
            <dt>籍贯：</dt>
            <dd>江苏</dd>
        </dl>
        <dl>
            <dt>户籍性质：</dt>
            <dd>城镇</dd>
        </dl>
        <dl>
            <dt>户籍地址：</dt>
            <dd>河南</dd>
        </dl>
        <dl>
            <dt>家庭地址：</dt>
            <dd>洛阳</dd>
        </dl>
        <dl>
            <dt>婚育状况：</dt>
            <dd>已婚</dd>
        </dl>
        <dl>
            <dt>学历：</dt>
            <dd>研究生</dd>
        </dl>
        <dl>
            <dt>毕业院校：</dt>
            <dd>山东大学苏州研究院</dd>
        </dl>
        <dl>
            <dt>所学专业：</dt>
            <dd>计算机</dd>
        </dl>
        <dl>
            <dt>毕业时间：</dt>
            <dd>2010-06-30</dd>
        </dl>
        <dl>
            <dt>是否启用：</dt>
            <dd>否</dd>
        </dl>
        <dl>
            <dt>在职状态：</dt>
            <dd>在职</dd>
        </dl>
    </div>
    <div class="infoListR">
        <div class="infoListRLogo">
           员工头像
        </div>
        <p><a href="javascript:;">上传</a></p>
    </div>

    <div class="infoListBtn">
        <a class="btn btnGray ml40" href="javascript:window.history.go(-1);">返回</a>
    </div>

</div>
<script src="../../../global/js/modules/wdatePicker/wdatePicker.js"></script>
</body>
</html>